/**
 * Toolkit styles
 */

@import 'base/mixins/rem',
	'base/mixins/css-arrow',
	'base/mixins/rounded-corners';
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "jquery-loadingModal/scss/jquery.loadingModal.scss";



/*Some bug fix*/
.jquery-loading-modal__info-box {
    position: absolute;
    text-align: center;
    z-index: 2;

    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
}

@import 'util/variables',
	'util/functions',
	'util/mixins';

@import 'base/index',
	'base/fonts',
	'base/typography';

@import 'vendor/normalize';
